<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.chinasoft.junling.dao.UsersDao">
  	<resultMap type="books" id="booksResult">
  		<id column="bId" property="bId"/>
  		<result column="bName" property="bName"/>
  		<result column="bType" property="bType"/>
  		<result column="bState" property="bState"/>
  		<result column="bClicks" property="bClicks"/>
  	</resultMap>
  	
  	<select id="queryRanking" resultMap="booksResult" parameterType="books">
  		select * from books
  	</select>
  	
  	<select id="queryRankingtwo" resultMap="booksResult" >
  		select * from books where bId in
  		<foreach collection="array"  item="bId" separator="," open="(" close=")">
  		#{bId}
  	</foreach>
  	</select>
  </mapper>