<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <mapper namespace="com.chinasoft.junling.dao.LoginDao">
 	<resultMap type="login" id="loginResults">
 		<id column="lID" property="lID"/>
 		<result column="uName" property="uName"/>
 		<result column="uPwd" property="uPwd"/>
 		<result column="uType" property="uType" />
  
 	</resultMap>
 	 <select id="queryLogin" parameterType="login" resultMap="loginResults">
 		
 		select * from login 
 		where uName=#{uName} and uPwd=#{uPwd} and uType=#{uType}
 	</select>
 		 <select id="idCount" parameterType="login" resultType="java.lang.Integer">
 		
 		select count(*) from login 
 		where uName=#{uName} and uPwd=#{uPwd} and uType=#{uType}
 	</select>
 	<select id="findByName" parameterType="login" resultType="java.lang.Integer">
 		select count(*) from login where uName=#{uName}
 	</select>
 	 <select id="findAll" parameterType="login" resultMap="loginResults">
 		select * from login 
 		      <where>
            <if test="uType!=null and uType!=''">  
                 uType= #{uType} 
            </if>
            
        </where>
        limit #{star},#{pageSize}
 	</select>
 		 <select id="total" parameterType="login" resultType="java.lang.String">
 		select count(*) from login 
 		      <where>
            <if test="uType!=null and uType!=''">  
                 uType= #{uType} 
            </if>
            
        </where>
       
 	</select>
 	 	<!-- useGeneratedKeys="true" keyProperty="uid" 表示在插入成功后，会将插入数据后的id返回给login对象 -->
 	<insert id="insertLogin" parameterType="login" useGeneratedKeys="true" keyProperty="id" >
 		insert into login(uName,uPwd,uType) values(#{uName},#{uPwd},#{uType})
 	</insert>
 	<!-- useGeneratedKeys="true" keyProperty="uid" 表示在修改成功后，会将修改数据后的id返回给user对象 -->
 	<update id="updateLogin" parameterType="login" useGeneratedKeys="true" keyProperty="id" >
 		update login set uPwd=#{uPwd},uType=#{uType} where lID=#{lID}
 	</update>
 	
 	<delete id="deleteLogin" parameterType="java.lang.String">
 		delete from login where lID in(#{_parameter})
 	</delete>
 	
 	</mapper>