<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <mapper namespace="com.chinasoft.junling.dao.UserHandleDao">
 	 <resultMap id="booksResults1" type="books" >
 		<id column="bId" property="bId"/>
 		<result column="bName" property="bName"/>
 		<result column="bType" property="bType"/>
 		<result column="bState" property="bState" />
 		<result column="bIntro" property="bIntro"/>
 		<result column="bClicks" property="bClicks"/>
 		<result column="bDownloads" property="bDownloads"/>
 		<result column="bEdittime" property="bEdittime"/>
 		<result column="bOverTime" property="bOverTime"/>
 		<result column="users_uId" property="users_uId"/>
 		
 		
 	 </resultMap>
 	 <select id="queryCollect"  resultMap="booksResults1" >
 		select * from books
 	 </select>
 	 <delete id="deleteCollect" parameterType="int">
 	 	delete from books where bID in(
			<foreach collection="array" separator="," item="did">
				#{did}
			</foreach>
		)
 	 </delete>
 	
 </mapper>