<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <mapper namespace="com.chinasoft.junling.dao.UserHandleDao">
 	 <resultMap id="booksResults1" type="books" >
 		<id column="bId" property="bId"/>
 		<result column="bName" property="bName"/>
 		<result column="bType" property="bType"/>
 		<result column="bState" property="bState" />
 		<result column="bIntro" property="bIntro"/>
 		<result column="bClicks" property="bClicks"/>
 		<result column="bDownloads" property="bDownloads"/>
 		<result column="bEdittime" property="bEdittime"/>
 		<result column="bOverTime" property="bOverTime"/>
 		<result column="users_uId" property="users_uId"/>
 	 </resultMap>
 	 <resultMap id="usersResults" type="users" >
 		<id column="bId" property="bId"/>
 		<result column="bName" property="uName"/>
 		<result column="uRealName" property="uRealName"/>
 		<result column="uSex" property="uSex" />
 		<result column="uBirthday" property="uBirthday"/>
 		<result column="uPhone" property="uPhone"/>
 		<result column="uEmail" property="uEmail"/>
 		<result column="uPenName" property="uPenName"/>
 		<result column="uBeans" property="uBeans"/>
 		<result column="uBankCard" property="uBankCard"/>
 		<result column="uUploadNumbers" property="uUploadNumbers"/>
 		<result column="bsers_uId" property="uType"/>
 		<association column="login_lID" property="login" javaType="login">
 			<id column="lID" property="lID"/>
	 		<result column="uName" property="uName"/>
	 		<result column="uPwd" property="uPwd"/>
	 		<result column="uType" property="uType" />
 		</association>
 	 </resultMap>
 	
 	 <select id="queryUser"  resultMap="usersResults" parameterType="java.lang.Integer">
 		select * from users 
 			left join login lo on users.login_lID=lo.lID
 		where login_lID=#{_parameter}
 	 </select>
 	 
 	 <select id="queryCollect"  resultMap="booksResults1" parameterType="java.lang.String">
 		select * from books where bId  in (select books_bId from collectbooks where users_uId=#{_parameter})
 	 </select>
 	 <delete id="deleteCollect">
 	 	delete from collectbooks where users_uId=#{id} and books_bId in(
			<foreach collection="array" separator="," item="did" >
				#{did}
			</foreach>
		)  
 	 </delete>
 	 <update id="updateInformation" parameterType="users">
 	 	update login set uName=#{uName}
 	 </update>
 	 <update id="updateInformation1" parameterType="users">
 	 	update login set uName=#{uRealName},
 	 						   #{uSex},
 	 						   #{uBirthday},
 	 						   #{uPhone},
 	 						   #{uEmail},
 	 						   #{uPenName},
 	 						   #{uBankCard} where
 	 						    
 	 						   
 	 </update>
 </mapper>
 
 
 
 
 
 
 
 